/* Style your dropdown below! */
body {
    background-color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

}

li {
    border: 1px solid black;

}

.container {
    margin: 0, auto;
    text-align: center;

}

#toggle {
    border: 1px solid black;
}

img {
    width: 16px;
    cursor: pointer;
}